footer.footer
	.footer__container
		.footer__text-box
			span.footer__symbol.footer__symbol--top-left
				svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="23px")
					path(fill-rule="evenodd" d="M22.999,22.185 C22.585,22.185 22.171,21.982 21.756,21.982 C21.384,21.824 21.36,21.620 20.720,21.371 C20.373,21.15 20.93,20.601 19.891,20.151 C19.499,19.638 19.153,19.93 18.855,18.523 L11.188,0.0 L10.152,0.0 L0.0,22.999 L22.999,22.999 L22.999,22.185 L22.999,22.185 Z")
			each letter, index in ['A', 'F', 'F']
				span.footer__letter(data-val=`${letter + index}`)=letter

			span.footer__letter(data-val='I') I
			span.footer__symbol.footer__symbol--light
				svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="23px")
					path(fill-rule="evenodd" d="M22.999,22.185 C22.585,22.185 22.171,21.982 21.756,21.982 C21.384,21.824 21.36,21.620 20.720,21.371 C20.373,21.15 20.93,20.601 19.891,20.151 C19.499,19.638 19.153,19.93 18.855,18.523 L11.188,0.0 L10.152,0.0 L0.0,22.999 L22.999,22.999 L22.999,22.185 L22.999,22.185 Z")
			span.footer__letter(data-val='N') N
		.footer__img
			img(src="/img/footer-img.png", alt="")
		.footer__text-box
			span.footer__letter(data-val='A') A
			span.footer__symbol.footer__symbol--light
				svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="23px")
					path(fill-rule="evenodd" d="M22.999,22.185 C22.585,22.185 22.171,21.982 21.756,21.982 C21.384,21.824 21.36,21.620 20.720,21.371 C20.373,21.15 20.93,20.601 19.891,20.151 C19.499,19.638 19.153,19.93 18.855,18.523 L11.188,0.0 L10.152,0.0 L0.0,22.999 L22.999,22.999 L22.999,22.185 L22.999,22.185 Z")
			span.footer__letter(data-val='G') G
			span.footer__symbol.footer__symbol--opacity
				svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28px" height="28px")
						path(fill-rule="evenodd"  stroke-width="1px" fill-opacity="0" d="M21.992,21.769 C20.909,22.425 19.733,22.912 18.504,23.214 C17.185,23.528 15.834,23.680 14.478,23.668 C13.77,23.683 11.688,23.412 10.396,22.874 C9.186,22.370 8.88,21.634 7.164,20.705 C6.250,19.778 5.527,18.679 5.37,17.473 C4.520,16.200 4.261,14.836 4.272,13.462 C4.261,12.166 4.487,10.879 4.939,9.664 C5.361,8.526 6.8,7.485 6.838,6.602 C7.670,5.726 8.674,5.31 9.787,4.561 C11.4,4.55 12.311,3.804 13.628,3.824 C15.114,3.775 16.596,4.10 17.994,4.518 C18.937,4.855 19.790,5.402 20.489,6.119 C20.682,6.374 20.826,6.662 20.914,6.970 C21.10,7.299 21.81,7.635 21.127,7.975 C21.174,8.328 21.204,8.683 21.212,9.39 C21.221,9.398 21.226,10.60 21.226,10.60 C21.226,10.60 22.596,13.292 23.805,13.292 L23.805,14.1 C23.247,13.957 22.710,14.232 22.417,14.709 C22.101,15.322 21.954,16.6 21.992,16.694 L21.992,21.769 Z")
			span.footer__letter(data-val='E') E
			span.footer__symbol
				svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="23px")
					path(fill-rule="evenodd" d="M22.999,22.185 C22.585,22.185 22.171,21.982 21.756,21.982 C21.384,21.824 21.36,21.620 20.720,21.371 C20.373,21.15 20.93,20.601 19.891,20.151 C19.499,19.638 19.153,19.93 18.855,18.523 L11.188,0.0 L10.152,0.0 L0.0,22.999 L22.999,22.999 L22.999,22.185 L22.999,22.185 Z")
