// fonts
$Philosopher = 'Philosopher',Helvetica,Arial,sans-serif;
$Geometria = 'Geometria',Helvetica,Arial,sans-serif;

// media
$xxl = 'screen and (max-width: 1440px)';
$xl = 'screen and (max-width: 1280px)';
$lg = 'screen and (max-width: 1024px)';
$l-md = 'screen and (max-width: 900px)';
$md = 'screen and (max-width: 768px)';
$sm = 'screen and (max-width: 575px)';
$s = 'screen and (max-width: 436px)';

//colors
$white = #ffffff
$yellow = #f7e611;
$yellow-rgba = rgba(247, 230, 17, 0.8);
$dark-yellow = #756f19
$black = #000000;
$side-text = #989898
$bg-gradient = linear-gradient(to right, #fdfdfd 0,#f0f0f0 108%)
