// fonts
$Philosopher = 'Philosopher',Helvetica,Arial,sans-serif;
$Geometria = 'Geometria',Helvetica,Arial,sans-serif;

// media
$xl = 'screen and (min-width: 1280px)';
$lg = 'screen and (min-width: 1024px)';
$md = 'screen and (min-width: 768px)';
$sm = 'screen and (min-width: 575px)';
$s = 'screen and (min-width: 436px)';

//colors
$white = #ffffff
$yellow = #f7e611;
$black = #000000;
